.NavBar {
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  position: relative;
  padding: 0.4rem;
  .image {
    position: absolute;
    top: 0;
    left: 2%;
    img {
      width: 130px;
      height: 130px;
      object-fit: contain;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .navBar-links {
    display: flex;
    gap: 2rem;
    a {
      display: flex;
      gap: 0.4rem;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      color: $black;
    }
  }
  .navBar-icons {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    a {
      color: $black;
      font-size: 15px;
      transition: all 1s;
      &:hover {
        color: $primary;
      }
    }
    .button {
      margin-left: 2rem;
      a {
        font-size: 15px;
        background-color: #0e584d;
        color: $primary;
        padding: 10px 24px;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        border-radius: 20px;
        transition: all 1s;
        &:hover {
          background-color: $orange;
          border: 1px solid $black;
        }
      }
    }
  }
  .menu {
    display: none;
    .button {
      background: none;
      border: none;
      outline: none;
    }
  }
}
@media (max-width: 1199.98px) {
  .NavBar {
    gap: 6rem;
    padding: 0.4rem;
    .image {
      top: 0;
      left: 2%;
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .navBar-links {
      display: flex;
      gap: 1rem;
      a {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        color: $black;
      }
    }
    .navBar-icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        color: $black;
        font-size: 15px;
        transition: all 1s;
        &:hover {
          color: $primary;
        }
      }
      .button {
        margin-left: 2.5rem;
        a {
          font-size: 15px;
          background-color: #0e584d;
          color: $primary;
          padding: 10px 24px;
          font-weight: 700;
          text-decoration: none;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          border-radius: 20px;
          transition: all 1s;
          &:hover {
            background-color: $orange;
            border: 1px solid $black;
          }
        }
      }
    }
    @media (max-width: 991.98px) {
      gap: 4rem;
      padding: 0.4rem;
      justify-content: center;
      .image {
        top: 0;
        left: 2%;
        img {
          width: 100px;
          height: 90px;
          object-fit: contain;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
      .navBar-links {
        display: flex;
        gap: 0.9rem;
        a {
          display: flex;
          gap: 0.4rem;
          align-items: center;
          font-weight: 600;
          font-size: 14px;
          text-decoration: none;
          color: $black;
        }
        @media (max-width: 811.98px) {
          display: flex;
          gap: 0.9rem;
          a {
            display: flex;
            gap: 0.4rem;
            align-items: center;
            font-weight: 600;
            font-size: 12px;
            text-decoration: none;
            color: $black;
          }
        }
      }
      .navBar-icons {
        display: flex;
        align-items: center;
        a {
          color: $black;
          font-size: 10px;
          display: none;
          transition: all 1s;
          &:hover {
            color: $primary;
          }
        }
        .button {
          margin-left: 1rem;
          a {
            font-size: 10px;
            background-color: #0e584d;
            color: $primary;
            padding: 10px 20px;
            font-weight: 700;
            text-decoration: none;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            border-radius: 20px;
            transition: all 1s;
            &:hover {
              background-color: $orange;
              border: 1px solid $black;
            }
          }
        }
      }
      @media (max-width: 767.98px) {
        gap: 2rem;
        padding: 0.4rem;
        justify-content: center;
        .image {
          top: 0;
          left: -3%;
          img {
            width: 120px;
            height: 60px;
            object-fit: contain;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
          }
        }
        .navBar-links {
          display: flex;
          gap: 0.5rem;
          a {
            display: flex;
            gap: 0.4rem;
            align-items: center;
            font-weight: 600;
            font-size: 11px;
            text-decoration: none;
            color: $black;
          }
        }
        .navBar-icons {
          .button {
            margin-left: 0.1rem;
            a {
              font-size: 8px;
              background-color: #0e584d;
              color: $primary;
              padding: 10px 15px;
              font-weight: 700;
              text-decoration: none;
              display: flex;
              gap: 0.5rem;
              align-items: center;
              border-radius: 20px;
              transition: all 1s;
              &:hover {
                background-color: $orange;
                border: 1px solid $black;
              }
            }
          }
        }
        @media (max-width: 575.98px) {
          gap: 2rem;
          padding: 1rem;
          justify-content: center;
          .image {
            top: 0;
            left: -3%;
            display: none;
            img {
              width: 120px;
              height: 90px;
              object-fit: contain;
              border-bottom-left-radius: 12px;
              border-bottom-right-radius: 12px;
            }
          }
          .navBar-links {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            gap: 1rem;
            a {
              display: flex;
              gap: 0.4rem;
              align-items: center;
              font-weight: 600;
              font-size: 11px;
              text-decoration: none;
              color: white;
            }
          }
          .navBar-icons {
            .button {
              margin-left: 0.1rem;
              display: none;
              a {
                font-size: 8px;
                background-color: #0e584d;
                color: $primary;
                padding: 10px 15px;
                font-weight: 700;
                text-decoration: none;
                display: flex;
                gap: 0.5rem;
                align-items: center;
                border-radius: 20px;
                transition: all 1s;
                &:hover {
                  background-color: $orange;
                  border: 1px solid $black;
                }
              }
            }
          }
          @media (max-width: 468.98px) {
            gap: 2rem;
            padding: 1.5rem;
            justify-content: center;
            position: relative;
            .image {
              display: block;
              top: 0%;
              img {
                width: 120px;
                height: 120px;
                object-fit: contain;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
              }
            }
            .navBar-links {
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: start;
              padding: 1rem;
              background-color: $black;
              position: absolute;
              gap: 1.2rem;
              left: -100%;
              top: 100%;
              width: 50%;
              a {
                display: flex;
                gap: 0.4rem;
                top: 100%;
                align-items: center;
                font-weight: 900;
                font-size: 15px;
                text-decoration: none;
                color: white;
                transition: all 1s;
                &:hover {
                  background-color: #0e584d;
                  padding: 0.5rem 3rem;
                }
              }
            }
            .menu {
              display: flex;
              position: absolute;
              top: 8px;
              right: 10%;
              button {
                border: none;
                background: none;
              }
            }
            .display-links {
              transition: all 1s;
              left: 0%;
              top: 100%;
            }
            @media (max-width: 381.98px) {
              gap: 2rem;
              padding: 1.5rem;
              justify-content: center;
              position: relative;
              .image {
                display: block;
                top: 0%;
                img {
                  width: 120px;
                  height: 120px;
                  object-fit: contain;
                  border-bottom-left-radius: 12px;
                  border-bottom-right-radius: 12px;
                }
              }
              .navBar-links {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 1rem;
                background-color: $black;
                position: absolute;
                gap: 1.2rem;
                left: -100%;
                top: 100%;
                width: 50%;
                a {
                  display: flex;
                  gap: 0.4rem;
                  top: 100%;
                  align-items: center;
                  font-weight: 900;
                  font-size: 15px;
                  text-decoration: none;
                  color: white;
                  transition: all 1s;
                  &:hover {
                    background-color: #0e584d;
                    padding: 0.5rem 3rem;
                  }
                }
              }
              .menu {
                display: flex;
                position: absolute;
                top: 8px;
                right: 10%;
                button {
                  border: none;
                  background: none;
                }
              }
              .display-links {
                transition: all 1s;
                left: 0%;
                top: 100%;
              }
            }
          }
        }
      }
    }
  }
}
