.quality {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  margin: auto 3.5rem;
  .card {
    display: flex;
    width: 50%;
    gap: 0.8rem;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    .image {
      position: relative;
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        pointer-events: none;
      }
    }
    h3 {
      font-weight: 800;
      font-family: $mainFont;
    }
    p {
      font-family: $primaryFont;
      line-height: 22px;
      pointer-events: none;
      font-size: 13px;
      text-align: center;
    }
  }
  @media (max-width: 1199.98px) {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    margin: auto 3.5rem;
    .card {
      display: flex;
      width: 50%;
      gap: 0.8rem;
      padding: 10px;
      flex-direction: column;
      align-items: center;
      .image {
        position: relative;
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          pointer-events: none;
        }
      }
      h3 {
        font-weight: 800;
        font-family: $mainFont;
      }
      p {
        font-family: $primaryFont;
        line-height: 22px;
        pointer-events: none;
        font-size: 13px;
        text-align: center;
      }
    }
    @media (max-width: 767.98px) {
      display: flex;
      gap: 1rem;
      max-width: 100%;
      margin: auto 1rem;
      .card {
        display: flex;
        width: 50%;
        gap: 0.8rem;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        .image {
          position: relative;
          width: 60px;
          height: 60px;
          img {
            width: 100%;
            pointer-events: none;
          }
        }
        h3 {
          text-align: center;
          font-weight: 800;
          font-family: $mainFont;
          font-size: 13px;
        }
        p {
          font-family: $primaryFont;
          line-height: 17px;
          pointer-events: none;
          font-size: 11px;
          text-align: center;
        }
        .line-clamp {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      @media (max-width: 575.98px) {
        display: flex;
        gap: 0.7rem;
        max-width: 100%;
        margin: auto;
        .card {
          display: flex;
          width: 50%;
          gap: 0.4rem;
          padding: 5px;
          flex-direction: column;
          align-items: center;
          .image {
            position: relative;
            width: 40px;
            height: 40px;
            img {
              width: 100%;
              pointer-events: none;
            }
          }
          h3 {
            text-align: center;
            font-weight: 800;
            font-family: $mainFont;
            font-size: 12px;
          }
          p {
            font-family: $primaryFont;
            line-height: 16px;
            pointer-events: none;
            font-size: 11px;
            // text-align: center;
          }
          .line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        @media (max-width: 467.98px) {
          display: flex;
          gap: 0.7rem;
          max-width: 100%;
          margin: auto 0.1rem;
          .card {
            display: flex;
            width: 50%;
            gap: 0.4rem;
            padding: 5px;
            flex-direction: column;
            align-items: center;
            .image {
              position: relative;
              width: 28px;
              height: 28px;
              img {
                width: 100%;
                pointer-events: none;
              }
            }
            h3 {
              text-align: center;
              font-weight: 800;
              font-family: $mainFont;
              font-size: 10px;
            }
            p {
              font-family: $primaryFont;
              line-height: 16px;
              pointer-events: none;
              font-size: 10px;
              // text-align: center;
            }
            .line-clamp {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .line-clamps {
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          @media (max-width: 381.98px) {
            display: flex;
            gap: 0.7rem;
            max-width: 100%;
            margin: auto 0.1rem;
            .card {
              display: flex;
              width: 50%;
              gap: 0.3rem;
              padding: 5px;
              flex-direction: column;
              align-items: center;
              .image {
                position: relative;
                width: 28px;
                height: 28px;
                img {
                  width: 100%;
                  pointer-events: none;
                }
              }
              h3 {
                text-align: center;
                font-weight: 800;
                font-family: $mainFont;
                font-size: 10px;
              }
              p {
                font-family: $primaryFont;
                line-height: 16px;
                pointer-events: none;
                font-size: 10px;
                // text-align: center;
              }
              .line-clamp {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
              .line-clamps {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
