@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
$primaryFont: "DM Sans", sans-serif;
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Ribeye Marrow", cursive;
$black: #262626;
$primary: #f6f6f6;
$orange: #ff7900;
$yellow: #e0b10b;
$Minyellow: #e8b600c4;
$primaryColor: rgb(255, 255, 255);
$naturaColor: #14950f;
$naturaDark: #044527d7;
$black: black;
$main-color: #14950fba;
